$font-family: 'Tomorrow', sans-serif;
$margin-top: 30px;


* {
    font-family: $font-family;
}


#quote-box {
    margin-top: 100px;
}

#new-quote {
    margin-top: $margin-top / 2;
}

#link-wrapper {
    margin-top: $margin-top;
}