$background-blue: rgb(153, 240, 255);
$font-family: 'Tomorrow', sans-serif;


body {
    background-color: #FFF;
    display: grid;
    grid: 100px 1fr 1fr / 1fr 1fr 1fr;
}


#quote-box {
    font-family: $font-family;
    background-color: $background-blue;
    text-align: center;
    grid-area: 2 / 2;
    border: 2px solid gray;
    padding: 10px 25px;
    border-radius: 10px;
}